version: '3.8'

services:
  # Django 后端服务
  backend:
    image: registry.cn-beijing.aliyuncs.com/yuanbuluo/pveui:backend
    container_name: django-vue-adminx-backend
    environment:
      - AUTOBAHN_USE_UVLOOP=0
      - TWISTED_REACTOR=asyncio
    command: >
      sh -c "python manage.py migrate --noinput &&
             python manage.py init_rbac --create-superuser 2>/dev/null || true &&
             daphne -b 0.0.0.0 -p 8000 django_vue_adminx.asgi:application"
    ports:
      - "8000:8000"

  # Vue 前端服务
  frontend:
    image: registry.cn-beijing.aliyuncs.com/yuanbuluo/pveui:front-end
    container_name: django-vue-adminx-frontend
    ports:
      - "8012:80"
    depends_on:
      - backend
    restart: unless-stopped
